@import '../color.scss';
@import '../global-style.scss';

button:active {
  transform: translateY(1px);
}

.game-setting {
  display: flex;
  flex-direction: row;

  $max_forms_on_screen: 8; // in GameSettingView.js

  .common-form + .common-form {
    margin-top: 10px;
  }

  .common-form {
    $font-size: 22px;

    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: $global-common-height;
    font-size: $font-size;

    .textfield-cont {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 12em;
      background-color: white;
      border-radius: 8px;

      .common-form__number {
        padding-left: 4px;
        font-size: $font-size + 2px;
        font-weight: 600;
        color: gray;
      }

      .textfield {
        box-sizing: border-box;
        padding-left: 4px;
        width: 100%;
        font-size: $font-size;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }

    %common-form__btn-style {
      width: $global-common-height;
      margin-left: 6px;
      line-height: 34px;
      font-size: 49px;
    }

    .add-btn {
      @extend %common-form__btn-style;
      background-color: rgb(255, 90, 90);
    }

    .remove-btn {
      @extend %common-form__btn-style;
      padding-bottom: 10px;
      background-color: rgb(55, 41, 255);
    }
  }

  .input-form-cont {
    display: inline-block;
    position: relative;
    height: $max_forms_on_screen * ($global-common-height + 10px) - 8px;
    overflow: auto;
    transition: right 100ms linear;
    box-shadow: 0 0 1px red inset;
  }

  .output-form-cont {
    display: inline-block;
    box-shadow: 0 0 1px blue inset;
  }

  .divider {
    align-self: center;
    width: 2px;
    height: 95%;
    margin: 0 10px;
    border-radius: 9999px;
    background-color: #4883dc;
  }

  .btn-cont {
    display: flex;
    flex-direction: column;
    width: 120px;
    box-shadow: 0 0 1px green inset;

    %btn-cont__btn-style {
      font-size: 20px;
      font-weight: 800;
      padding: 5px 10px;
      width: 100%;
      height: $global-common-height;
    }

    %btn-cont__btn-style + %btn-cont__btn-style {
      margin-top: 10px;
    }

    .reset-btn {
      @extend %btn-cont__btn-style;
      background-color: $pink;
    }

    .complete-btn {
      @extend %btn-cont__btn-style;
      background-color: $green;
      opacity: 0.3;
      pointer-events: none;

      &.enable {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
